@font-face{
    font-family: "GT super";
    src: url(fonts/fonts/gt-super-400-normal.woff);
    }
    @font-face{
        font-family: "sohne";
        src: url(fonts/fonts/sohne-400-normal.woff);
        }
    
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-family: "shone";
            background-color: beige;
        }
    
        .container{
            max-width: 80%;
            margin: 0 auto;
        }
     a{
        text-decoration: none;
        color: inherit;
     }   
    
     .btn{
        background-color: black;
        color: white;
        padding: 8px 12px;
        border-radius: 20px;
        border: none;
     }
    
    header
    {
        padding: 20px;
        border-bottom: 1px solid black;
        font-size: 14px;
    
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .logo{
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav{
        display: flex;
        gap: 10px;
        align-items: center;
    
    }
    }
    
    
 main{
     background-image: url(/images/medium.png);
     height: 33vw;
    background-size: contain;
      background-repeat: no-repeat;
     background-position: 80vw;
     .container{
         min-height: 70px;
         display: flex;
         flex-direction: column;
        align-items: start;
        justify-content: center;
         gap: 30px;
     }
    
    h1{
    font-family: "GT super";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px ;

}
p{
    font-size: 16px;
}
.btn {
    font-size: 16px;
  }
 }
  footer {
    padding: 20px;
    border-top: 1px solid black;
  
    nav {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: baseline;
    }
  }

  